.testiominal-heading {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.testiominal-h1 {
    color: var(--primary-color, #393D46);
    width: 300px;
    height: 58px;
    font-family: Noto Serif Tamil;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.testiominal-para {
    display: flex;
    justify-content: center;
    text-align: center;

}

.testiominal-p {
    width: 702px;
    height: 99.385px;
    font-family: Noto Serif Tamil;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: var(--secondary-color-1, #7D8085);

}

.testimonials{
    display: flex;
}

.testimonial1{
    stroke-width: 1px;
    stroke: var(--primary-color, #393D46);
filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.10));
}

.testimonail-svg-p{
    display: flex;
width: 641px;
height: 147px;
flex-direction: column;
justify-content: center;
font-family: Noto Serif Tamil;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.48px;
color: var(--secondary-color-1, #7D8085);
margin-left: 55px;
margin-top: -280px;
}

.testimonial-small-div{
    width: 125px;
height: 125px;
border-radius: 4px;
background: #D9D9D9;
margin-top: 100px;
margin-left: 20px;


}
.testimonial-small-div1{
    width: 125px;
height: 125px;
border-radius: 4px;
background: #D9D9D9;
margin-top: 100px;
margin-left: -50px;

}

.testimonial-small-divs{
    display: flex;
}

.testimonial-small-label{
    font-family: Noto Serif Tamil;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.54px;
color: var(--primary-color, #393D46);
}

.testimonial-small-label2{
    font-family: Noto Serif Tamil;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.42px;
color: var(--primary-color, #393D46);
}

.testimonial-label{
    margin-left: 500px;
    margin-top: 100px;
}

.testimonial-small-label1-side{
    font-family: Noto Serif Tamil;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.54px;
color: var(--primary-color, #393D46);
}

.testimonial-small-label2-side{
    font-family: Noto Serif Tamil;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.42px;
color: var(--primary-color, #393D46);
}

.testimonial-label-side{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 50px;
}